# Copyright (c) 2025, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v1.0 as shown at
# https://oss.oracle.com/licenses/upl.


MODEL=
REGION=
TENANCY_OCID=
TENANCY_NAME=
COMPARTMENT_OCID=
USER_OCID=
USER_NAME=
